.event-cards-container {
    width: 100%;
    max-width: 1400px;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

.event-card {
    width: 375px;
    padding: var(--medium);
    border-radius: var(--roundLarge);
    background-color: var(--mediumBrown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.event-card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.4s ease-in-out;
    
        }

.event-card h2 {
    margin: 0px;
    color: var(--orange);
    text-shadow: var(--mediumShadowDark);
}

.event-modal-container h2 {
    margin: 0px;
    color: var(--darkBrown);
    text-shadow: 1px 1px 2px var(--orange);

}

.event-card-description,  .event-modal-description {
    width: 90%;
    font-size: var(--smallText);
    line-height: 1.5rem;
    font-weight: var(--semiBold);
    margin: 0;
    padding: 0;
}

.event-image {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: var(--roundMedium);
    box-shadow: var(--mediumShadowDark);
}

.event-card-description {
    color: var(--peachyCreme);
}

.event-modal-container {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: var(--roundLarge);
    background-color: var(--peachyCreme);
    color: var(--darkBrown);
    padding: var(--medium);
    margin-bottom: var(--medium);
    font-weight: var(--semiBold);
}


.event-time {
    color: var(--darkBrown);
    background-color: var(--orangeTransparent);
    padding: var(--medium) var(--large);
    border-radius: var(--roundMedium);
    font-size: var(--medium);
    box-shadow: var(--mediumShadowDark);
}

@media (min-width: 750px) {
    .event-modal-container {
        width: 500px;
    }

    .event-image {
        width: 100%;
        max-width: 350px;
        object-fit: cover;
        border-radius: var(--roundMedium);
    }

    .event-modal-container h2 {
        font-size: var(--largerText);
    }
}

@media (min-width: 1200px) {
    .event-card {
        width: 250px;
    }

    .event-card h2 {
        font-size: var(--mediumText);
    }

    .event-cards-container {
        justify-content: space-evenly;
    }
}