:root {

    /* Break Points */

    --baseScreen: 0px;
    --smallScreen: 500px;
    --mediumScreen: 750px;
    --largeScreen: 900px;
    --xlargeScreen: 1200px;


    /* COLORS */

    --lightCreme: #F9E2CA;
    --lightCremeTransparent: rgba(249, 226, 202, 0.8);
    --peachyCreme: #EFC8AA;
    --peachyCremeTransparent: rgba(239, 200, 170, 0.2);
    --beige: #BF9C79;
    --beigeTransparent: rgba(191, 156, 121, 0.5);
    --mediumBrown: #705449;
    --mediumBrownTransparent: rgba(112, 84, 73, 0.5);
    --coffee: #705B52;
    --coffeeTransparent: rgba(112, 91, 82, 0.9);
    --darkBrown: #291c20;
    --darkBrownTransparent: rgba(41, 28, 32, 0.75);
    --red : #FF0000;
    --redTransparent: rgba(255, 0, 0, 0.5);
    --yellow: #FFFF00;
    --yellowTransparent: rgba(255, 255, 0, 0.5);
    --orange: #FFA500;
    --orangeTransparent: rgba(255, 165, 0, 0.5);
 

    --mainText: var(--lightCreme);
    --mainBackground: var(--darkBrown);
    --darkShadow: rgb(41, 28, 32);
    --lightShadow: rgb(249, 226, 202);


    /* SIZES */
    
    --xsmall: 0.25rem;
    --small: 0.5rem;
    --medium: 1rem;
    --large: 2rem;
    --larger: 3rem;
    --xlarge: 4rem;
    --xxlarage: 5rem;
    --xxxlarge: 6rem;
    --xxxxlarge: 7rem;


    /* FONT SIZES */
    --xsmallText: 0.75rem;
    --smallText: 0.9rem;
    --cardText: 1.1rem;
    --normalText: 1.3rem;
    --mediumText: 1.5rem;
    --largeText: 2rem;
    --xlargeText: 3rem;
    --xxlargeText: 4rem;


    /* WEIGHTS */

    --light: 300;
    --regular: 400;
    --semiBold: 500;
    --bold: 700;


    /* RADIUS */

    --roundXSmall: 3px;
    --roundSmall: 7px;
    --roundMedium: 11px;
    --roundSemiLarge: 15px;
    --roundLarge: 23px;
    --roundXLarge: 44px;
    --roundXXLarge: 99px;
    --roundFull: 50%;

    /* SHADOWS */

    --xsmallShadowDark: 1px 1px 2px rgba(41, 28, 32,0.75);
    --xsmallShadowLight: 1px 1px 2px rgba(249, 226, 202,0.75);
    --smallShadowDark: 2px 2px 2px rgba(41, 28, 32,0.75);
    --smallShadowLight: 2px 2px 2px rgba(249, 226, 202,0.75);
    --mediumShadowDark: 3px 3px 2px rgba(41, 28, 32,0.75);
    --mediumShadowLight: 3px 3px 2px rgba(249, 226, 202,0.75);
    --largeShadowDark: 3px 3px 3px rgba(41, 28, 32,0.75);
    --largeShadowLight: 3px 3px 3px rgba(249, 226, 202,0.75);
    --subtleShadowDark: 3px 3px 4px rgba(41, 28, 32,0.75);
    --subtleShadowLight: 3px 3px 4px rgba(249, 226, 202,0.75);
    --faintShadowDark: 2px 2px 5px rgba(41, 28, 32,0.75);
    --faintShadowLight: 2px 2px 5px rgba(249, 226, 202,0.75);


}

body {
    margin: 0;
    font-family: 'REM', sans-serif;
    font-size: 1.3rem;
    font-weight: var(--light);
    background-color: var(--darkBrown);
    padding-bottom: 100px;
    color: var(--lightCreme);
}

@media (min-width: 900px) {
    body {
        font-size: 1.4rem;
    }
}

p {
    margin: 0;
}

.entire-background {
    display: flex;
    direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
}


.text-section, .text-section-stackable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--coffeeTransparent);
    padding: var(--medium) var(--large);
    text-shadow: var(--largeShadowDark);
    text-align: left;
}

@media (min-width: 1200px) {
.text-section, .text-section-stackable {
    padding: var(--medium) 7rem;
}
}

.text-section h1, .text-section-stackable h1     {
    width: 100%;
    font-size: var(--largeText);
    font-weight: var(--semiBold);
    color: var(--orange);
    text-shadow: var(--largeShadowDark);
    margin: 0;
}

@media (min-width: 900px) {
    .text-section-stackable {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.stackable-image-left, .stackable-image-right {
    width: 375px;
    align-self: center;
    border-radius: var(--roundMedium);
}

.stackable-image-left {
    margin-bottom: var(--medium);
}

.stackable-image-right {
    margin-top: var(--medium);
}

@media (min-width: 900px) {
    .stackable-image-left {
        margin-bottom: 0px;
        margin-right: var(--medium);
        width: 325px;
    }

    .stackable-image-right {
        margin-top: 0px;
        margin-left: var(--medium);
        width: 325px;
    }
}








/* ******************************************************************** */

@media (min-width: 500px) {
}

@media (min-width: 750px) {
}

@media (min-width: 1200px) {
}